In [133]:
import sqlite3
import pandas as pd

In [134]:
pd.options.display.max_columns = 99
pd.options.display.max_colwidth = 15
pd.options.display.width = None
pd.options.display.max_rows = 50
pd.options.display.min_rows = 20

In [135]:
pd.describe_option()

compute.use_bottleneck : bool
    Use the bottleneck library to accelerate if it is installed,
    the default is True
    Valid values: False,True
    [default: True] [currently: True]
compute.use_numba : bool
    Use the numba engine option for select operations if it is installed,
    the default is False
    Valid values: False,True
    [default: False] [currently: False]
compute.use_numexpr : bool
    Use the numexpr library to accelerate computation if it is installed,
    the default is True
    Valid values: False,True
    [default: True] [currently: True]
display.chop_threshold : float or None
    if set to a float value, all float values smaller then the given threshold
    will be displayed as exactly 0 by repr and friends.
    [default: None] [currently: None]
display.colheader_justify : 'left'/'right'
    Controls the justification of column headers. used by DataFrameFormatter.
    [default: right] [currently: right]
display.column_space No description available.
    [default: 12] [currently: 12]
display.date_dayfirst : boolean
    When True, prints and parses dates with the day first, eg 20/01/2005
    [default: False] [currently: False]
display.date_yearfirst : boolean
    When True, prints and parses dates with the year first, eg 2005/01/20
    [default: False] [currently: False]
display.encoding : str/unicode
    Defaults to the detected encoding of the console.
    Specifies the encoding to be used for strings returned by to_string,
    these are generally strings meant to be displayed on the console.
    [default: UTF-8] [currently: UTF-8]
display.expand_frame_repr : boolean
    Whether to print out the full DataFrame repr for wide DataFrames across
    multiple lines, `max_columns` is still respected, but the output will
    wrap-around across multiple "pages" if its width exceeds `display.width`.
    [default: True] [currently: True]
display.float_format : callable
    The callable should accept a floating point number and return
    a string with the desired format of the number. This is used
    in some places like SeriesFormatter.
    See formats.format.EngFormatter for an example.
    [default: None] [currently: None]
display.html.border : int
    A ``border=value`` attribute is inserted in the ``<table>`` tag
    for the DataFrame HTML repr.
    [default: 1] [currently: 1]
display.html.table_schema : boolean
    Whether to publish a Table Schema representation for frontends
    that support it.
    (default: False)
    [default: False] [currently: False]
display.html.use_mathjax : boolean
    When True, Jupyter notebook will process table contents using MathJax,
    rendering mathematical expressions enclosed by the dollar symbol.
    (default: True)
    [default: True] [currently: True]
display.large_repr : 'truncate'/'info'
    For DataFrames exceeding max_rows/max_cols, the repr (and HTML repr) can
    show a truncated table (the default from 0.13), or switch to the view from
    df.info() (the behaviour in earlier versions of pandas).
    [default: truncate] [currently: truncate]
display.latex.escape : bool
    This specifies if the to_latex method of a Dataframe uses escapes special
    characters.
    Valid values: False,True
    [default: True] [currently: True]
display.latex.longtable :bool
    This specifies if the to_latex method of a Dataframe uses the longtable
    format.
    Valid values: False,True
    [default: False] [currently: False]
display.latex.multicolumn : bool
    This specifies if the to_latex method of a Dataframe uses multicolumns
    to pretty-print MultiIndex columns.
    Valid values: False,True
    [default: True] [currently: True]
display.latex.multicolumn_format : bool
    This specifies if the to_latex method of a Dataframe uses multicolumns
    to pretty-print MultiIndex columns.
    Valid values: False,True
    [default: l] [currently: l]
display.latex.multirow : bool
    This specifies if the to_latex method of a Dataframe uses multirows
    to pretty-print MultiIndex rows.
    Valid values: False,True
    [default: False] [currently: False]
display.latex.repr : boolean
    Whether to produce a latex DataFrame representation for jupyter
    environments that support it.
    (default: False)
    [default: False] [currently: False]
display.max_categories : int
    This sets the maximum number of categories pandas should output when
    printing out a `Categorical` or a Series of dtype "category".
    [default: 8] [currently: 8]
display.max_columns : int
    If max_cols is exceeded, switch to truncate view. Depending on
    `large_repr`, objects are either centrally truncated or printed as
    a summary view. 'None' value means unlimited.

    In case python/IPython is running in a terminal and `large_repr`
    equals 'truncate' this can be set to 0 and pandas will auto-detect
    the width of the terminal and print a truncated object which fits
    the screen width. The IPython notebook, IPython qtconsole, or IDLE
    do not run in a terminal and hence it is not possible to do
    correct auto-detection.
    [default: 20] [currently: 99]
display.max_colwidth : int or None
    The maximum width in characters of a column in the repr of
    a pandas data structure. When the column overflows, a "..."
    placeholder is embedded in the output. A 'None' value means unlimited.
    [default: 50] [currently: 15]
display.max_dir_items : int
    The number of items that will be added to `dir(...)`. 'None' value means
    unlimited. Because dir is cached, changing this option will not immediately
    affect already existing dataframes until a column is deleted or added.

    This is for instance used to suggest columns from a dataframe to tab
    completion.
    [default: 100] [currently: 100]
display.max_info_columns : int
    max_info_columns is used in DataFrame.info method to decide if
    per column information will be printed.
    [default: 100] [currently: 100]
display.max_info_rows : int or None
    df.info() will usually show null-counts for each column.
    For large frames this can be quite slow. max_info_rows and max_info_cols
    limit this null check only to frames with smaller dimensions than
    specified.
    [default: 1690785] [currently: 1690785]
display.max_rows : int
    If max_rows is exceeded, switch to truncate view. Depending on
    `large_repr`, objects are either centrally truncated or printed as
    a summary view. 'None' value means unlimited.

    In case python/IPython is running in a terminal and `large_repr`
    equals 'truncate' this can be set to 0 and pandas will auto-detect
    the height of the terminal and print a truncated object which fits
    the screen height. The IPython notebook, IPython qtconsole, or
    IDLE do not run in a terminal and hence it is not possible to do
    correct auto-detection.
    [default: 60] [currently: 50]
display.max_seq_items : int or None
    When pretty-printing a long sequence, no more then `max_seq_items`
    will be printed. If items are omitted, they will be denoted by the
    addition of "..." to the resulting string.

    If set to None, the number of items to be printed is unlimited.
    [default: 100] [currently: 100]
display.memory_usage : bool, string or None
    This specifies if the memory usage of a DataFrame should be displayed when
    df.info() is called. Valid values True,False,'deep'
    [default: True] [currently: True]
display.min_rows : int
    The numbers of rows to show in a truncated view (when `max_rows` is
    exceeded). Ignored when `max_rows` is set to None or 0. When set to
    None, follows the value of `max_rows`.
    [default: 10] [currently: 20]
display.multi_sparse : boolean
    "sparsify" MultiIndex display (don't display repeated
    elements in outer levels within groups)
    [default: True] [currently: True]
display.notebook_repr_html : boolean
    When True, IPython notebook will use html representation for
    pandas objects (if it is available).
    [default: True] [currently: True]
display.pprint_nest_depth : int
    Controls the number of nested levels to process when pretty-printing
    [default: 3] [currently: 3]
display.precision : int
    Floating point output precision in terms of number of places after the
    decimal, for regular formatting as well as scientific notation. Similar
    to ``precision`` in :meth:`numpy.set_printoptions`.
    [default: 6] [currently: 6]
display.show_dimensions : boolean or 'truncate'
    Whether to print out dimensions at the end of DataFrame repr.
    If 'truncate' is specified, only print out the dimensions if the
    frame is truncated (e.g. not display all rows and/or columns)
    [default: truncate] [currently: truncate]
display.unicode.ambiguous_as_wide : boolean
    Whether to use the Unicode East Asian Width to calculate the display text
    width.
    Enabling this may affect to the performance (default: False)
    [default: False] [currently: False]
display.unicode.east_asian_width : boolean
    Whether to use the Unicode East Asian Width to calculate the display text
    width.
    Enabling this may affect to the performance (default: False)
    [default: False] [currently: False]
display.width : int
    Width of the display in characters. In case python/IPython is running in
    a terminal this can be set to None and pandas will correctly auto-detect
    the width.
    Note that the IPython notebook, IPython qtconsole, or IDLE do not run in a
    terminal and hence it is not possible to correctly detect the width.
    [default: 80] [currently: None]
io.excel.ods.reader : string
    The default Excel reader engine for 'ods' files. Available options:
    auto, odf.
    [default: auto] [currently: auto]
io.excel.ods.writer : string
    The default Excel writer engine for 'ods' files. Available options:
    auto, odf.
    [default: auto] [currently: auto]
io.excel.xls.reader : string
    The default Excel reader engine for 'xls' files. Available options:
    auto, xlrd.
    [default: auto] [currently: auto]
io.excel.xls.writer : string
    The default Excel writer engine for 'xls' files. Available options:
    auto, xlwt.
    [default: auto] [currently: auto]
    (Deprecated, use `` instead.)
io.excel.xlsb.reader : string
    The default Excel reader engine for 'xlsb' files. Available options:
    auto, pyxlsb.
    [default: auto] [currently: auto]
io.excel.xlsm.reader : string
    The default Excel reader engine for 'xlsm' files. Available options:
    auto, xlrd, openpyxl.
    [default: auto] [currently: auto]
io.excel.xlsm.writer : string
    The default Excel writer engine for 'xlsm' files. Available options:
    auto, openpyxl.
    [default: auto] [currently: auto]
io.excel.xlsx.reader : string
    The default Excel reader engine for 'xlsx' files. Available options:
    auto, xlrd, openpyxl.
    [default: auto] [currently: auto]
io.excel.xlsx.writer : string
    The default Excel writer engine for 'xlsx' files. Available options:
    auto, openpyxl, xlsxwriter.
    [default: auto] [currently: auto]
io.hdf.default_format : format
    default format writing format, if None, then
    put will default to 'fixed' and append will default to 'table'
    [default: None] [currently: None]
io.hdf.dropna_table : boolean
    drop ALL nan rows when appending to a table
    [default: False] [currently: False]
io.parquet.engine : string
    The default parquet reader/writer engine. Available options:
    'auto', 'pyarrow', 'fastparquet', the default is 'auto'
    [default: auto] [currently: auto]
io.sql.engine : string
    The default sql reader/writer engine. Available options:
    'auto', 'sqlalchemy', the default is 'auto'
    [default: auto] [currently: auto]
mode.chained_assignment : string
    Raise an exception, warn, or no action if trying to use chained assignment,
    The default is warn
    [default: warn] [currently: warn]
mode.data_manager : string
    Internal data manager type; can be "block" or "array". Defaults to "block",
    unless overridden by the 'PANDAS_DATA_MANAGER' environment variable (needs
    to be set before pandas is imported).
    [default: block] [currently: block]
mode.sim_interactive : boolean
    Whether to simulate interactive mode for purposes of testing
    [default: False] [currently: False]
mode.string_storage : string
    The default storage for StringDtype.
    [default: python] [currently: python]
mode.use_inf_as_na : boolean
    True means treat None, NaN, INF, -INF as NA (old way),
    False means None and NaN are null, but INF, -INF are not NA
    (new way).
    [default: False] [currently: False]
mode.use_inf_as_null : boolean
    use_inf_as_null had been deprecated and will be removed in a future
    version. Use `use_inf_as_na` instead.
    [default: False] [currently: False]
    (Deprecated, use `mode.use_inf_as_na` instead.)
plotting.backend : str
    The plotting backend to use. The default value is "matplotlib", the
    backend provided with pandas. Other backends can be specified by
    providing the name of the module that implements the backend.
    [default: matplotlib] [currently: matplotlib]
plotting.matplotlib.register_converters : bool or 'auto'.
    Whether to register converters with matplotlib's units registry for
    dates, times, datetimes, and Periods. Toggling to False will remove
    the converters, restoring any converters that pandas overwrote.
    [default: auto] [currently: auto]
styler.format.decimal : str
    The character representation for the decimal separator for floats and complex.
    [default: .] [currently: .]
styler.format.escape : str, optional
    Whether to escape certain characters according to the given context; html or latex.
    [default: None] [currently: None]
styler.format.formatter : str, callable, dict, optional
    A formatter object to be used as default within ``Styler.format``.
    [default: None] [currently: None]
styler.format.na_rep : str, optional
    The string representation for values identified as missing.
    [default: None] [currently: None]
styler.format.precision : int
    The precision for floats and complex numbers.
    [default: 6] [currently: 6]
styler.format.thousands : str, optional
    The character representation for thousands separator for floats, int and complex.
    [default: None] [currently: None]
styler.html.mathjax : bool
    If False will render special CSS classes to table attributes that indicate Mathjax
    will not be used in Jupyter Notebook.
    [default: True] [currently: True]
styler.latex.environment : str
    The environment to replace ``\begin{table}``. If "longtable" is used results
    in a specific longtable environment format.
    [default: None] [currently: None]
styler.latex.hrules : bool
    Whether to add horizontal rules on top and bottom and below the headers.
    [default: False] [currently: False]
styler.latex.multicol_align : {"r", "c", "l", "naive-l", "naive-r"}
    The specifier for horizontal alignment of sparsified LaTeX multicolumns. Pipe
    decorators can also be added to non-naive values to draw vertical
    rules, e.g. "\|r" will draw a rule on the left side of right aligned merged cells.
    [default: r] [currently: r]
styler.latex.multirow_align : {"c", "t", "b"}
    The specifier for vertical alignment of sparsified LaTeX multirows.
    [default: c] [currently: c]
styler.render.encoding : str
    The encoding used for output HTML and LaTeX files.
    [default: utf-8] [currently: utf-8]
styler.render.max_columns : int, optional
    The maximum number of columns that will be rendered. May still be reduced to
    satsify ``max_elements``, which takes precedence.
    [default: None] [currently: None]
styler.render.max_elements : int
    The maximum number of data-cell (<td>) elements that will be rendered before
    trimming will occur over columns, rows or both if needed.
    [default: 262144] [currently: 262144]
styler.render.max_rows : int, optional
    The maximum number of rows that will be rendered. May still be reduced to
    satsify ``max_elements``, which takes precedence.
    [default: None] [currently: None]
styler.render.repr : str
    Determine which output to use in Jupyter Notebook in {"html", "latex"}.
    [default: html] [currently: html]
styler.sparse.columns : bool
    Whether to sparsify the display of hierarchical columns. Setting to False will
    display each explicit level element in a hierarchical key for each column.
    [default: True] [currently: True]
styler.sparse.index : bool
    Whether to sparsify the display of a hierarchical index. Setting to False will
    display each explicit level element in a hierarchical key for each row.
    [default: True] [currently: True]

In [136]:
csv_data = pd.read_csv("output.csv")
pd.to_datetime(csv_data['date_key'])
con = sqlite3.connect(":memory:")

In [137]:
csv_data.to_sql("users", con, if_exists="replace")

86416

In [138]:
# QUERY CONTAINER
query1 = """

WITH table1_temp AS (
SELECT
account_id,
date_key,
revenue,
LEAD(date_key, 1) OVER (PARTITION BY account_id ORDER BY date_key) as lead_1_month,
LEAD(date_key, 3) OVER (PARTITION BY account_id ORDER BY date_key) as lead_3_month,
LEAD(date_key, 6) OVER (PARTITION BY account_id ORDER BY date_key) as lead_6_month,
LEAD(date_key, 12) OVER (PARTITION BY account_id ORDER BY date_key) as lead_12_month
FROM users
WHERE 1=1
AND account_id = '5edf63c9-a4de-4592-b70d-8fa137c00f88'
),

table2_temp AS (
SELECT
account_id,
date_key,
revenue,
ROUND((JULIANDAY(date_key) - JULIANDAY(lead_1_month))/(365/12),0) as lead_1_mo_diff,
ROUND((JULIANDAY(date_key) - JULIANDAY(lead_3_month))/(365/12),0) as lead_3_mo_diff,
ROUND((JULIANDAY(date_key) - JULIANDAY(lead_6_month))/(365/12),0) as lead_6_mo_diff,
ROUND((JULIANDAY(date_key) - JULIANDAY(lead_12_month))/(365/12),0) as lead_12_mo_diff
FROM table1_temp
),

table3_temp AS (
SELECT
date_key,
COUNT(account_id) AS c_cur,
COUNT(CASE WHEN lead_1_mo_diff=-1.0 THEN account_id ELSE NULL END) AS c_1m,
COUNT(CASE WHEN lead_3_mo_diff=-3.0 THEN account_id ELSE NULL END) AS c_3m,
COUNT(CASE WHEN lead_6_mo_diff=-6.0 THEN account_id ELSE NULL END) AS c_6m,
COUNT(CASE WHEN lead_12_mo_diff=-12.0 THEN account_id ELSE NULL END) AS c_12m
FROM table2_temp
GROUP BY 1
)

SELECT date_key, lead_1_month, lead_3_month, lead_6_month, lead_12_month FROM table1_temp

"""

query2 = """
SELECT * FROM users where account_id = '5edf63c9-a4de-4592-b70d-8fa137c00f88'
"""

query3 = """
WITH calendar AS (
SELECT
DISTINCT(date_key)
FROM users
ORDER BY date_key
),

table1_temp AS (
SELECT
account_id,
date_key,
revenue,
LEAD(date_key, 1) OVER (ORDER BY date_key) as lead_1_month,
IFNULL(ROUND((JULIANDAY(date_key) - JULIANDAY(LEAD(date_key, 1) OVER (ORDER BY date_key)))/(365/12),0), 0.0) as lead_1_mo_diff,
LEAD(date_key, 3) OVER (PARTITION BY account_id ORDER BY date_key) as lead_3_month,
IFNULL(ROUND((JULIANDAY(date_key) - JULIANDAY(LEAD(date_key, 3) OVER (PARTITION BY account_id ORDER BY date_key)))/(365/12),0), 0.0) as lead_3_mo_diff,
LEAD(date_key, 6) OVER (PARTITION BY account_id ORDER BY date_key) as lead_6_month,
IFNULL(ROUND((JULIANDAY(date_key) - JULIANDAY(LEAD(date_key, 6) OVER (PARTITION BY account_id ORDER BY date_key)))/(365/12),0), 0.0) as lead_6_mo_diff,
LEAD(date_key, 12) OVER (PARTITION BY account_id ORDER BY date_key) as lead_12_month,
IFNULL(ROUND((JULIANDAY(date_key) - JULIANDAY(LEAD(date_key, 12) OVER (PARTITION BY account_id ORDER BY date_key)))/(365/12),0), 0.0) as lead_12_mo_diff
FROM users
WHERE 1=1
AND account_id IN ('5edf63c9-a4de-4592-b70d-8fa137c00f88', 'b41abbf3-ca43-48cd-8e8d-1aad0729bae6')
AND date_key BETWEEN '2019-01-01' AND '2019-12-31'
),

table2_temp AS (
SELECT
account_id,
date_key,
revenue,
lead_1_month,
lead_1_mo_diff,
SUM(CASE WHEN lead_1_mo_diff = -1.0 THEN 1 ELSE 0 END) as c_1m,
lead_3_month,
lead_3_mo_diff,
SUM(CASE WHEN lead_3_mo_diff = -3.0 THEN 1 ELSE 0 END) as c_3m
--date_key,
--COUNT(account_id) AS c_cur,
--COUNT(CASE WHEN lead_1_mo_diff=-1.0 THEN account_id ELSE NULL END) AS c_1m,
--COUNT(CASE WHEN lead_3_mo_diff=-3.0 THEN account_id ELSE NULL END) AS c_3m,
--COUNT(CASE WHEN lead_6_mo_diff=-6.0 THEN account_id ELSE NULL END) AS c_6m,
--COUNT(CASE WHEN lead_12_mo_diff=-12.0 THEN account_id ELSE NULL END) AS c_12m
FROM table1_temp
GROUP BY
account_id,
date_key,
revenue,
lead_1_month,
lead_1_mo_diff,
lead_3_month,
lead_3_mo_diff
)

-- SELECT * FROM calendar


SELECT
account_id,
date_key,
revenue,
lead_1_month,
lead_1_mo_diff,
--SUM(c_1m),
lead_3_month,
lead_3_mo_diff
--SUM(c_3m)
FROM table1_temp
ORDER BY 
date_key

"""

query4 = """
WITH calendar AS (
SELECT
date_key,
LEAD(date_key, 3) OVER (ORDER BY date_key) as date_key3,
LEAD(date_key, 6) OVER (ORDER BY date_key) as date_key6,
LEAD(date_key, 12) OVER (ORDER BY date_key) as date_key12
FROM users
WHERE 1=1
AND date_key > '2019-06-01'
GROUP BY date_key
ORDER BY date_key
),

fact_table_curr AS (
SELECT
account_id,
date_key,
revenue
FROM users
WHERE 1=1
),

fact_table_3m AS (
SELECT
account_id,
date_key,
revenue
FROM users
WHERE 1=1
),

fact_table_6m AS (
SELECT
account_id,
date_key,
revenue
FROM users
WHERE 1=1
),

fact_table_12m AS (
SELECT
account_id,
date_key,
revenue
FROM users
WHERE 1=1
),

all_joined AS (
SELECT
calendar.date_key as c_date_key,
fact_table_curr.date_key as f_curr_date_key,
SUBSTR(fact_table_curr.account_id,1,3) as f_curr_acc_id,
fact_table_curr.revenue as f_curr_rev,
calendar.date_key3 as c_date_key3,
fact_table_3m.date_key as f_3m_date_key,
SUBSTR(fact_table_3m.account_id,1,3) as f_3m_acc_id,
fact_table_6m.revenue as f_6m_rev,
calendar.date_key6 as c_date_key6,
fact_table_6m.date_key as f_6m_date_key,
SUBSTR(fact_table_6m.account_id,1,3) as f_6m_acc_id,
fact_table_6m.revenue as f_6m_rev,
calendar.date_key12 as c_date_key12,
fact_table_12m.date_key as f_12m_date_key,
SUBSTR(fact_table_12m.account_id,1,3) as f_12m_acc_id,
fact_table_12m.revenue as f_12m_rev
FROM calendar
LEFT JOIN fact_table_curr ON calendar.date_key = fact_table_curr.date_key
LEFT JOIN fact_table_3m ON (fact_table_curr.account_id = fact_table_3m.account_id AND calendar.date_key3 = fact_table_3m.date_key)
LEFT JOIN fact_table_6m ON (fact_table_curr.account_id = fact_table_6m.account_id AND calendar.date_key6 = fact_table_6m.date_key)
LEFT JOIN fact_table_12m ON (fact_table_curr.account_id = fact_table_12m.account_id AND calendar.date_key12 = fact_table_12m.date_key)
)

SELECT
c_date_key,
COUNT(f_curr_acc_id) as count_acc_curr,
COUNT(f_3m_acc_id) as count_acc_3m,
COUNT(f_6m_acc_id) as count_acc_6m,
COUNT(f_12m_acc_id) as count_acc_12m
FROM all_joined
WHERE 1=1
GROUP BY
c_date_key
ORDER BY
c_date_key

"""

query4_verif = """
WITH calendar AS (
SELECT
date_key,
LEAD(date_key, 1) OVER () as date_key1,
LEAD(date_key, 3) OVER () as date_key3,
LEAD(date_key, 6) OVER () as date_key6
--LEAD(date_key, 12) OVER () as date_key12
FROM users
WHERE 1=1
AND date_key BETWEEN '2019-01-01' AND '2019-07-01'
GROUP BY date_key
ORDER BY date_key
),

fact_table1 AS (
SELECT
account_id,
date_key,
revenue
FROM users
WHERE 1=1
AND date_key BETWEEN '2019-01-01' AND '2019-12-01'
AND account_id IN (
    'eba9dbd2-ff64-46cb-9ab8-08ddcc99485f',
    'c51272a2-28ad-4fa8-80c1-5b7566c439a8',
    '5a316a69-9d5e-4bdc-a908-8a109ed7f4ac',
    '17516fd3-55e1-4ebb-8050-2da61969976e',
    'b2ec20fc-27d1-43cf-83a3-e0ada52d0639'
    )
),

fact_table2 AS (
SELECT
account_id,
date_key,
revenue
FROM users
WHERE 1=1
AND date_key BETWEEN '2019-01-01' AND '2019-12-01'
AND account_id IN (
    'eba9dbd2-ff64-46cb-9ab8-08ddcc99485f',
    'c51272a2-28ad-4fa8-80c1-5b7566c439a8',
    '5a316a69-9d5e-4bdc-a908-8a109ed7f4ac',
    '17516fd3-55e1-4ebb-8050-2da61969976e',
    'b2ec20fc-27d1-43cf-83a3-e0ada52d0639'
    )
),

all_joined AS (
SELECT
calendar.date_key as c_date_key,
fact_table1.date_key as f1_date_key,
SUBSTR(fact_table1.account_id,1,3) as f1_acc_id,
fact_table1.revenue as f1_rev,
calendar.date_key3 as c_date_key3,
fact_table2.date_key as f2_date_key,
SUBSTR(fact_table2.account_id,1,3) as f2_acc_id,
fact_table2.revenue as f2_rev
FROM calendar
LEFT JOIN fact_table1 ON calendar.date_key = fact_table1.date_key
LEFT JOIN fact_table2 ON fact_table1.account_id = fact_table2.account_id AND calendar.date_key3 = fact_table2.date_key
)

SELECT
*
FROM all_joined
WHERE 1=1


"""

query4_presto = """ 

WITH calendar AS (
SELECT
date_key,
LEAD(date_key, 3) OVER (ORDER BY date_key) as date_key3,
LEAD(date_key, 6) OVER (ORDER BY date_key) as date_key6,
LEAD(date_key, 12) OVER (ORDER BY date_key) as date_key12
FROM clv.agg_acc_rev_monthly
WHERE date_key BETWEEN '2019-01-31' AND '2019-06-30'
GROUP BY date_key
ORDER BY date_key
),

fact_table_curr AS (
SELECT
account_id,
date_key,
hr as revenue
FROM clv.agg_acc_rev_monthly
WHERE 1=1
),

fact_table_3m AS (
SELECT
account_id,
date_key,
hr as revenue
FROM clv.agg_acc_rev_monthly
WHERE 1=1
),

fact_table_6m AS (
SELECT
account_id,
date_key,
hr as revenue
FROM clv.agg_acc_rev_monthly
WHERE 1=1
),

fact_table_12m AS (
SELECT
account_id,
date_key,
hr as revenue
FROM clv.agg_acc_rev_monthly
WHERE 1=1
),

all_joined AS (
SELECT
calendar.date_key as c_date_key,
fact_table_curr.date_key as f_curr_date_key,
fact_table_curr.account_id as f_curr_acc_id,
fact_table_curr.revenue as f_curr_rev,
calendar.date_key3 as c_date_key3,
fact_table_3m.date_key as f_3m_date_key,
fact_table_3m.account_id as f_3m_acc_id,
fact_table_3m.revenue as f_3m_rev
--calendar.date_key6 as c_date_key6,
--fact_table_6m.date_key as f_6m_date_key,
--fact_table_6m.account_id as f_6m_acc_id,
--fact_table_6m.revenue as f_6m_rev,
--calendar.date_key12 as c_date_key12,
--fact_table_12m.date_key as f_12m_date_key,
--fact_table_12m.account_id as f_12m_acc_id,
--fact_table_12m.revenue as f_12m_rev
FROM calendar
LEFT JOIN fact_table_curr ON calendar.date_key = fact_table_curr.date_key
LEFT JOIN fact_table_3m ON (fact_table_curr.account_id = fact_table_3m.account_id AND calendar.date_key3 = fact_table_3m.date_key)
--LEFT JOIN fact_table_6m ON (fact_table_curr.account_id = fact_table_6m.account_id AND calendar.date_key6 = fact_table_6m.date_key)
--LEFT JOIN fact_table_12m ON (fact_table_curr.account_id = fact_table_12m.account_id AND calendar.date_key12 = fact_table_12m.date_key)
)

SELECT
c_date_key,
COUNT(f_curr_acc_id) as count_acc_curr,
COUNT(f_3m_acc_id) as count_acc_3m
FROM all_joined
WHERE 1=1
GROUP BY
c_date_key
ORDER BY
c_date_key

"""

In [139]:
q=None
with open(file='users.sql', mode='r') as f:
    q = f.read()

cohort_df = pd.read_sql_query(q, con)
cohort_df.to_sql("users_2", con, index=False, if_exists="replace")
print(cohort_df)

         date_key      account_id   revenue       source
0      2019-01-01  0002335f-26...  0.000000  display_ads
1      2019-02-01  0002335f-26...  0.000000  display_ads
2      2019-03-01  0002335f-26...  0.000000  display_ads
3      2019-04-01  0002335f-26...  0.000000  display_ads
4      2019-05-01  0002335f-26...  0.000000  display_ads
5      2019-06-01  0002335f-26...  0.000000  display_ads
6      2019-07-01  0002335f-26...  7.113665  display_ads
7      2019-08-01  0002335f-26...  5.755132  display_ads
8      2019-09-01  0002335f-26...  3.815103  display_ads
9      2019-10-01  0002335f-26...  0.000000  display_ads
...           ...             ...       ...          ...
71990  2020-03-01  ffc914c7-26...  0.000000  display_ads
71991  2020-04-01  ffc914c7-26...  0.821459  display_ads
71992  2020-05-01  ffc914c7-26...  0.000000  display_ads
71993  2020-06-01  ffc914c7-26...  0.000000  display_ads
71994  2020-07-01  ffc914c7-26...  0.000000  display_ads
71995  2020-08-01  ffc914c7-26...  0.000000  display_ads
71996  2020-09-01  ffc914c7-26...  7.773886  display_ads
71997  2020-10-01  ffc914c7-26...  0.882137  display_ads
71998  2020-11-01  ffc914c7-26...  0.000000  display_ads
71999  2020-12-01  ffc914c7-26...  0.000000  display_ads

[72000 rows x 4 columns]

In [140]:
with open(file='users_2.sql', mode='r') as f:
    q = f.read()

users_df = pd.read_sql_query(q, con)
print(users_df)

      date_key  churned_3m  not_churned_3m
0   2019-02-01           0             692
1   2019-03-01           0             692
2   2019-04-01           0             692
3   2019-05-01         145             547
4   2019-06-01         149             543
5   2019-07-01         136             556
6   2019-08-01         144             548
7   2019-09-01         160             532
8   2019-10-01         162             530
9   2019-11-01         167             525
10  2019-12-01         157             535
11  2020-01-01         171             521
12  2020-02-01         149             543
13  2020-03-01         151             541
14  2020-04-01         166             526
15  2020-05-01         151             541
16  2020-06-01         149             543
17  2020-07-01         149             543
18  2020-08-01         159             533
19  2020-09-01         148             544
20  2020-10-01         160             532
21  2020-11-01         159             533
22  2020-12-01         142             550

In [142]:
with open(file='users_3.sql', mode='r') as f:
    q = f.read()

users_df = pd.read_sql_query(q, con)
print(users_df)
# users_df.to_csv(path_or_buf=f"./users_3.csv", index=True)

            dk  SUM(m6)  SUM(rt)  still_m6  act  inact
0   2019-02-01        0        0       NaN  692      0
1   2019-03-01        0        0       0.0  281    411
2   2019-04-01        0        0       0.0  264    428
3   2019-05-01        0        0       0.0  296    396
4   2019-06-01        0        0       0.0  269    423
5   2019-07-01        0        0       0.0  283    409
6   2019-08-01       29        0       0.0  274    418
7   2019-09-01       38       10      19.0  265    427
8   2019-10-01       39       13      25.0  265    427
9   2019-11-01       36       15      24.0  245    447
10  2019-12-01       41       15      21.0  290    402
11  2020-01-01       47       15      26.0  282    410
12  2020-02-01       35       22      25.0  276    416
13  2020-03-01       39        9      26.0  265    427
14  2020-04-01       40       12      27.0  282    410
15  2020-05-01       30       20      20.0  281    411
16  2020-06-01       29       12      18.0  253    439
17  2020-07-01       36       10      19.0  274    418
18  2020-08-01       36       17      19.0  271    421
19  2020-09-01       29       18      18.0  273    419
20  2020-10-01       32       13      16.0  269    423
21  2020-11-01       36       13      19.0  286    406
22  2020-12-01       30       17      19.0  276    416